body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #35424a;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    color: #ffffff;
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.content {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#music .audio-player {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#music button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #35424a;
    color: white;
    cursor: pointer;
}
#music button:hover {
    background-color: #2c3e50;
}
#music input[type="range"] {
    width: 100%;
}
#music img {
    width: 200px; /* Set the width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: round the corners */
    margin-bottom: 15px; /* Space below the image */
}
#music .playlist {
    list-style-type: none;
    padding: 0;
}
#music .playlist li {
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    background: #eaeaea;
    border-radius: 5px;
}
#music .playlist li:hover {
    background: #d0d0d0;
}

#monthsary table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    gap: 5in;
    margin: auto auto;
}
#monthsary th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
    background-color: #d4d4d4;
    font-size: 0.2in;
}

#monthsary .container {
    margin: auto auto;
    padding-left: auto;
    display: block;
}

#letters .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: wocenter;
    background-color: gray;
    color: white;
    padding: 0.1in;
    width: 3in;
}

.specialbutton {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #3498db; /* Button color */
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.specialbutton:hover {
    background-color: #2980b9; /* Darker shade on hover */
    transform: translateY(-2px); /* Lift effect */
}
.specialbutton:active {
    transform: translateY(0); /* Reset lift effect on click */
}